.todo {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 6px solid #DDD;
}

.text {
    text-align: center;
}

.addInput {
    background-color: chocolate;
    padding: 60px 40px;
    color: white;
    text-align: center;
}

.title {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.add {
    float: left;
    padding: 10px;
}

.items {
    padding: 20px 20px 20px 20px;
    width: 800px;
    margin: 0 auto;
}

.items button {
    font-size: 18px;
    float: right;
    margin: 0 40px 0 0;
}

input[type=checkbox]+label {
    padding: 0 10px;
    font-size: 20px;
}

input[type=checkbox]:checked+label {
    font-style: italic;
    text-decoration: line-through;
}